/* Do exact with breakpoints rather than percentage so that don't get awkward cut-off when resize window slightly */
@media screen and (min-width: 1650px) {

    /* To avoid grey bars on very large screens */
    video {
        width: 100%;
        height: auto;
    }

}

@media screen and (min-width: 1550px) {

    .story-gradient {
        width: 1100px;
        left: calc((100% - 1100px)/2);
    }

    #lines-wrapper {
        width: 1100px;
        left: calc((100% - 1100px)/2);
    }

    .intro-wrapper {
        left: calc((100% - 1100px)/2);
        margin-left: 183px;
    }

    .story-content {
        max-width: 273px;
        left: calc((100% - 1100px)/2);
    }

    .table-wrapper {
        left: calc((100% - 1100px)/2);
        margin-left: 364px;
        width: 733px;
    }

    .map-wrapper {
        left: calc((100% - 1100px)/2);
    }

}

@media screen and (max-width: 1350px) {

    .logo {
        width: 110px;
    }

}


@media screen and (max-width: 1250px) {

    .story-gradient {
        width: 900px;
        left: calc((100% - 900px)/2);
    }

    #lines-wrapper {
        width: 900px;
        left: calc((100% - 900px)/2);
    }

    .intro-wrapper {
        left: calc((100% - 900px)/2);
        margin-left: 150px;
    }

    .story-content {
        max-width: 240px;
        left: calc((100% - 900px)/2);
    }

    .table-wrapper {
        left: calc((100% - 900px)/2);
        margin-left: 300px;
        width: 600px;
    }

    .map-wrapper {
        left: calc((100% - 900px)/2);
    }

    th {
        padding-left: 17px;
        font-size: 40px;
    }

    td {
        font-size: 18px;
        padding-left: 17px;
    }

    .story-content p {
        font-size: 15px;
    }

    h2 {
        font-size: 28px;
    }

    .map {
        width: 180px;
    }

    .logo {
        width: 100px;
    }

}

@media screen and (max-width: 1150px) {

    .logo {
        background-image:url(../img/logo-mobile.svg);
        width: 35px;
    }

}

@media screen and (max-width: 1100px) {

    .story-gradient {
        width: 800px;
        left: calc((100% - 800px)/2);
    }

    #lines-wrapper {
        width: 800px;
        left: calc((100% - 800px)/2);
    }

    .intro-wrapper {
        left: calc((100% - 800px)/2);
        margin-left: 133px;
        max-width: 500px;
    }

    .story-content {
        max-width: 210px;
        left: calc((100% - 800px)/2);
    }

    .table-wrapper {
        left: calc((100% - 800px)/2);
        margin-left: 266px;
        width: 533px;
    }

    .map-wrapper {
        left: calc((100% - 800px)/2);
    }

    th {
        padding-left: 15px;
        font-size: 38px;
    }

    td {
        font-size: 17px;
        padding-left: 15px;
    }

    .story-content p {
        font-size: 14.5px;
    }

    h2 {
        font-size: 26px;
    }

    h1 {
        font-size: 38px;
    }

    .intro p {
        font-size: 16px;
    }

    .map {
        width: 160px;
    }

}

@media screen and (max-width: 900px) {

    .story-gradient {
        width: 700px;
        left: 0;
    }

    #lines-wrapper {
        width: 700px;
        left: 0;
    }

    .intro-wrapper {
        left: 0;
        margin-left: 117px;
        max-width: 470px;
    }

    .story-content {
        max-width: 180px;
        left: 0;
    }

    .table-wrapper {
        left: 0;
        margin-left: 233px;
        width: 467px;
    }

    .map-wrapper {
        left: 0;
    }

    th {
        padding-left: 10px;
        font-size: 36px;
    }

    td {
        font-size: 16px;
        padding-left: 10px;
    }

    .story-content p {
        font-size: 13.5px;
    }

    h2 {
        font-size: 24px;
    }

    h1 {
        font-size: 36px;
    }

    .intro p {
        font-size: 15px;
    }

    .side-nav {
        right: 20px;
    }

    .logo {
        width: 30px;
    }

}